---
---

// Headers
$header-bg-color: #102C53 !default;
$header-bg-color-secondary: #102C53 !default;
// Text
$section-headings-color: #102C53 !default;
$body-text-color: #212529 !default;

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: "Manrope", Arial, sans-serif;
}

.page-header {
  text-align: right;
  background-image: url("/logo/loghi.svg");
  background-size: auto 6rem;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right
  ;
  @include large {
    padding: 4rem 6rem;
  }

  @include medium {
    padding: 4rem 4rem;
  }

  @include small {
    padding: 4rem 1rem;
  }

}

ul.navbar {
  list-style-type: none;
  // background-color: #E7EEF3;
  margin: 0;
  padding: 0;
}

ul.navbar li {
  display: block;
}

ul.navbar li a {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 565 !important;
}
