---
---

// Headers
$header-bg-color: #102C53 !default;
$header-bg-color-secondary: #102C53 !default;
// Text
$section-headings-color: #102C53 !default;
$body-text-color: #212529 !default;

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  font-family: "Manrope", Arial, sans-serif;
}

.page-header {
  text-align: right;
  background-image: url("/logo/white_logo.png");
  background-size: auto 5rem;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  @include large {
    padding: 4rem 6rem;
  }

  @include medium {
    padding: 4rem 4rem;
  }

  @include small {
    padding: 3rem 1rem;
  }

}
